{% extends 'index.html' %} {% block content %}

&nbsp;&nbsp;
<center>
    

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="static/img/illustration-0.png" alt="">
          </div>
            <div class="carousel-caption">
              <a href="/about"><button type="button" class="btn btn-default">Read More >>></button></a>
            </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="static/img/customer-service-quote-dharmesh-shah.png" alt="">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="static/img/customer-service-quote-laura-ashley-3.png" alt="">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="static/img/customer-service-quote-scott-cook.png" alt="">

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>




    <style id="applicationStylesheet" type="text/css">
        .mediaViewInfo {
            --web-view-name: home;
            --web-view-id: home;
            --web-scale-on-resize: true;
            --web-enable-deep-linking: true;
        }
        :root {
            --web-view-ids: home;
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            border: none;
        }

        #START_PREDICTION {
            position: absolute;
            left: 83px;
            top: 554.098px;
            overflow: visible;
            width: 30px;
            white-space: nowrap;
            text-align: center;
            font-family: Calibri;
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            color: rgba(255,255,255,1);
        }
        #Mask_Group_1 {
            position: absolute;
            width: 1421px;
            height: 806px;
            left: 469px;
            top: 225.098px;
            overflow: visible;
        }
        #Group_21 {
            position: absolute;
            width: 404px;
            height: 129px;
            left: 354px;
            top: 600.42px;
            overflow: visible;
        }
        #START_PREDICTION_bx {
            position: absolute;
            left: 45px;
            top: 45px;
            overflow: visible;
            width: 330px;
            white-space: nowrap;
            text-align: center;
            font-family: Calibri;
            font-style: normal;
            font-weight: bold;
            font-size: 34px;
            color: rgba(255,255,255,1);
        }
/* 
        #Group_12 {
            position: absolute;
            width: 404px;
            height: 129px;
            left: 454px;
            top: 800.42px;
            overflow: visible;
        }
        #READ_MORE_bx {
            position: absolute;
            left: 45px;
            top: 45px;
            overflow: visible;
            width: 330px;
            white-space: nowrap;
            text-align: center;
            font-family: Calibri;
            font-style: normal;
            font-weight: bold;
            font-size: 34px;
            color: rgba(255,255,255,1);
        }

        #INFO_bx {
            position: absolute;
            left: 45px;
            top: 905px;
            overflow: visible;
            width: 330px;
            white-space: nowrap;
            text-align: center;
            font-family: Calibri;
            font-style: normal;
            font-weight: bold;
            font-size: 34px;
            color: rgba(255,255,255,1);
        } */

    </style>

            <div id="Group_21">
                <svg class="Path_505" viewBox="0 0 404 129">
                    <path fill="rgba(6, 116, 241)" id="Path_505" d="M 64.5 0 L 339.5 0 C 375.1223754882812 0 404 28.87763214111328 404 64.5 C 404 100.1223678588867 375.1223754882812 129 339.5 129 L 64.5 129 C 28.87763214111328 129 0 100.1223678588867 0 64.5 C 0 28.87763214111328 28.87763214111328 0 64.5 0 Z">
                    </path>
                </svg>
                <div id="START_PREDICTION_bx">
                    <span><a href="/pred_lr" style="color: white; text-decoration: none;">START PREDICTION</a></span>
                </div>
            </div>
            <!-- <img id="output_onlinepngtools" src="static/images/output_onlinepngtools.png" srcset="static/images/output_onlinepngtools.png 1x, static/images/output_onlinepngtools@2x.png 2x"> -->
        </div>

        <!-- <div id="Group_12">
          <svg class="Path_505" viewBox="0 0 404 129">
              <path fill="rgba(6, 116, 241)" id="Path_505" d="M 64.5 0 L 339.5 0 C 375.1223754882812 0 404 28.87763214111328 404 64.5 C 404 100.1223678588867 375.1223754882812 129 339.5 129 L 64.5 129 C 28.87763214111328 129 0 100.1223678588867 0 64.5 C 0 28.87763214111328 28.87763214111328 0 64.5 0 Z">
              </path>
          </svg>
          <div id="READ_MORE_bx">
              <span><a href="/about" style="color: rgb(255, 255, 255); text-decoration: none;">READ MORE>>></a></span>
          </div>
      </div>

      <div id="INFO_bx">
        <span><a href="/about" style="color: rgb(0, 0, 0); text-decoration: none;">APLIKASI INI ADALAH UNTUK</a></span>
    </div> -->

      <!-- <img id="output_onlinepngtools" src="static/images/output_onlinepngtools.png" srcset="static/images/output_onlinepngtools.png 1x, static/images/output_onlinepngtools@2x.png 2x"> -->
  </div>


</center>

{% endblock %}